#
*-lock.json

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# mac files
.DS_Store

# config
config.dev.json
config.prod.json

# bundles and builds
app/build
app/bundles
dist