$body-background-color: #fff !default;
$body-size: 16px !default;
$body-rendering: optimizeLegibility !default;
$body-family: $family-primary !default;
$body-color: $text !default;
$body-weight: $weight-normal !default;
$body-line-height: 1.5 !default;

$code-family: $family-code !default;
$code-padding: .25em .5em .25em !default;
$code-weight: normal !default;
$code-size: .875em !default;

$hr-background-color: $border !default;
$hr-height: 1px !default;
$hr-margin: 1.5rem 0 !default;

$strong-color: $text-strong !default;
$strong-weight: $weight-bold !default;

html
{
    font-size: $body-size;

    overflow-x: hidden;
    overflow-y: scroll;

    min-width: 300px;

    background-color: $body-background-color;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: $body-rendering;
    text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section
{
    display: block;
}

body,
button,
input,
select,
textarea
{
    font-family: $body-family;
}

code,
pre
{
    font-family: $code-family;

    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
}

body
{
    font-size: 1rem;
    font-weight: $body-weight;
    line-height: $body-line-height;

    color: $body-color;
}

// Inline

a
{
    cursor: pointer;
    text-decoration: none;

    color: $link;

    strong
    {
        color: currentColor;
    }

    &:hover
    {
        color: $link-hover;
    }
}

code
{
    font-size: $code-size;
    font-weight: $code-weight;

    padding: $code-padding;

    color: $code;
    background-color: $code-background;
}

hr
{
    display: block;

    height: $hr-height;
    margin: $hr-margin;

    border: none;
    background-color: $hr-background-color;
}

img
{
    max-width: 100%;
    height: auto;
}

input[type='checkbox'],
input[type='radio']
{
    vertical-align: baseline;
}

small
{
    font-size: .875em;
}

span
{
    font-weight: inherit;
    font-style: inherit;
}

strong
{
    font-weight: $strong-weight;

    color: $strong-color;
}

// Block

pre
{
    font-size: .875em;

    overflow-x: auto;

    padding: 1.25rem 1.5rem;

    white-space: pre;
    word-wrap: normal;

    color: $pre;
    background-color: $pre-background;

    @include overflow-touch;

    code
    {
        font-size: 1em;

        padding: 0;

        color: currentColor;
        background-color: transparent;
    }
}

table
{
    td,
    th
    {
        text-align: left;
        vertical-align: top;
    }

    th
    {
        color: $text-strong;
    }
}
