


.dicto-AsidesEditor
{
    .specific-editor-container
    {
        margin-bottom: 1rem;
        padding: 1rem;

        background: rgba(0,0,0,.01);
    }

    .aside-header
    {
        margin-bottom: 0;

        background: #d2ccc3;
    }
}
